<!DOCTYPE html>
<html>
  <body>

    </h1>Sabermetrics of some sort<h1>

    </p>
    In math-heavy article, each batting stat as a dot product of two vectors,
    where the first is a performance vector with the numbers of each event that
    occur for a player, and the second is a weights vector with the
    ceoffiecients on each. For instance, the weights on BA are [1,1,1,1,...],
    slugging are [1,2,3,4], woba are [Fangraphs Guts], etc. The weights on the
    performance vector are the offical score of the game for all except xwoba,
    where they are replaced by expected values via Hit Probability as a function
    of Exit Velocity and Launch Angle from Statcast. Hit Probability compares
    the EV and LA of a hit against all other hits of the same time since the
    introduction of Statcast in 2015 (how many hits since them?) and determines
    the likelihood that a batted ball will be a single, double, etc. This
    transitions the performance vector from field outcome to quality of contact,
    meaning that it is more tightly linked to hitter performance at he plate.

    (BA also has the wrong denominator. Does
    slugging?)

    Compare against BABIP

    Factors still not accounted for: baserunning, park factors, and (the
    remaining) luck, but these are likely small.

    Hit probability: https://www.mlb.com/news/statcast-introduces-hit-probability-for-2017/c-217705412
    <p>

  </body>
</html>
