<!DOCTYPE html>
<html>
  <body>

    </h1>Sabermetrics of some sort<h1>
    </p>Content<p>
    </p>
    In math-heavy article, each batting stat as a dot product of two vectors,
    where the first is a performance vector with the numbers of each event that
    occur for a player, and the second is a weights vector with the
    ceoffiecients on each. For instance, the weights on BA are [1,1,1,1,...],
    slugging are [1,2,3,4], woba are [Fangraphs Guts], etc. The weights on the
    performance vector are the offical score of the game for all except xwoba,
    where they are replaced by expected values as a function of Exit Velocity
    and Launch Angle from Statcast.
    <p>

  </body>
</html>
