<!DOCTYPE html>
<html>
  <head>
    <link rel="shortcut icon" href="favicon.ico" type="image/x-icon"/>
    <link rel="shortcut apple-touch-icon" href="favicon.ico" type="image/x-icon"/>
  </head>
  <body>

    <img src="/images/school.png" alt="Loading" title="school" class="img-fluid imgbox-lg">
    <p>I'm a junior at Penn in the Jerome Fisher Program in
      Management and Technology, getting bachelors degrees from Penn
      Engineering and Wharton.</p>

  </body>
</html>
