<!DOCTYPE html>
<html>
  <head>
    <link rel="shortcut icon" href="favicon.ico" type="image/x-icon"/>
    <link rel="shortcut apple-touch-icon" href="favicon.ico" type="image/x-icon"/>
    <title> Spencer Weiss | About Me</title>
    <meta name="description" content="Spencer Weiss' personal site. More
    Information about Spencer's background."<meta>
    <meta charset="UTF-8">
  </head>

  <body class="content">
    <div class="container-fluid left">
      <div class="row">
        <div class="col-sm-2 left"></div>
        <div class="col-sm-8 left">

          <h1>About Me</h1>

          <br></br>

          <h3>Background</h3>

          <p>
          To-do lists are an extension of my brain. I'm (almost) always at an
          inbox-zero state. I fold my dirty clothes. I read textbooks on
          different subjects during school breaks for fun. (Yes, I swear.) Most
          of all, I'm not satisfied unless I'm learning something or building
          something.
          </p>

          <p>
          More Background
          </p>

          <div class="container-fluid center">
            <div class="row imagetiles">
              <div class="col-md-12"><img src="/images/school.png" alt="Loading" title="school" class="img-fluid imgbox-lg"></div>
            </div>
            <div class="row">
              <div class="col-md-12"><p class="caption">The Jerome Fisher Program
                in Management and Technology, better known as M&T, is a
                coordinated dual degree program for a BSE from Penn Engineering
                and a BSE from Wharton in four years at Penn.</p></div>
            </div>
          </div>

          <h3>The Nitty Gritty</h3>

          <p>
          I'm a junior at the University of Pennsylvania in the Jerome Fisher
          Program in Management and Technology, getting bachelors degrees from
          Penn Engineering and the Wharton School of Business. I am majoring
          in Bioengineering in Penn Engineering and concentrating in
          Management with a specialization in Entrepreneurship in Wharton. I
          am also minoring in Computer Science and Mathematics. My current GPA
          is 3.8 (Dean's List each year).
          </p>

          <p>
          I have taken courses on Data Structures/Algorithms, Networked
          Systems, Programming Techniques, Management of Technology, Corporate
          Finance, Discrete Math, Probability Theoery, Calculus III (Linear
          Algebra and Differential Equations), Calculus IV (Partial
          Differential Equations), Biomechanics, and Biomaterials, among others.
          I am signed up to take courses on Artificial Intelligence, Statistical
          Inference, Monetary Economics, and Physical Chemistry in the coming
          semester, among others.
          </p>

          <p>
          I am experienced with Java, Git, Heroku, Bash/Zsh, Scrum, Excel
          Modeling, Product Management and Technology Strategy. I am a beginner
          at Python, OCaml, R, Ruby on Rails, Javascript, HTML, CSS, and jQuery.
          </p>

          <p>Made with &#x2764; in Philly, DC, and New York.</p>

          <br></br>

          <div>
            <div class="col-sm-1"><a href="http://facebook.com/weissguy23"><img src="/images/facebook.png" alt="Loading" title="facebook" class="img-fluid imgbox-tiny"></a></div>
            <div class="col-sm-1"><a href="http://twitter.com/weissguy23"><img src="/images/twitter.png" alt="Loading" title="twitter" class="img-fluid imgbox-tiny"></a></div>
            <div class="col-sm-1"><a href="http://instagram.com/weissguy23"><img src="/images/instagram.png" alt="Loading" title="instagram" class="img-fluid imgbox-tiny"></a></div>
            <div class="col-sm-1"><a href="http://linkedin.com/in/spencerrweiss"><img src="/images/linkedin.png" alt="Loading" title="linkedin" class="img-fluid imgbox-tiny"></a></div>
            <div class="col-sm-1"><a href="http://github.com/spweiss"><img src="/images/github.png" alt="Loading" title="github" class="img-fluid imgbox-tiny"></a></div>
            <div class="col-sm-1"><a href="mailto:spweiss@seas.upenn.edu"><img src="/images/email.png" alt="Loading" title="email" class="img-fluid imgbox-tiny"></a></div>
            <div class="col-sm-6"></div>
          </div>

        </div>
        <div class="col-sm-2 left"></div>
      </div>
    </div>
  </body>
</html>
