<!DOCTYPE html>
<html>
  <head>
    <link rel="shortcut icon" href="favicon.ico" type="image/x-icon"/>
    <link rel="shortcut apple-touch-icon" href="favicon.ico" type="image/x-icon"/>
    <title>Spencer Weiss | About Me</title>
  </head>

  <body class="content">
    <div class="container-fluid left">
      <div class="row">
        <div class="col-sm-2 left"></div>
        <div class="col-sm-8 left">

          <img src="/images/school.png" alt="Loading" title="school" class="img-fluid imgbox-lg">
          <p>I'm a junior at Penn in the Jerome Fisher Program in
            Management and Technology, getting bachelors degrees from Penn
            Engineering and Wharton.</p>
          <div>
            <div class="col-sm-1"><a href="http://facebook.com/weissguy23"><img src="/images/facebook.png" alt="Loading" title="facebook" class="img-fluid imgbox-tiny"></a></div>
            <div class="col-sm-1"><a href="http://twitter.com/weissguy23"><img src="/images/twitter.png" alt="Loading" title="twitter" class="img-fluid imgbox-tiny"></a></div>
            <div class="col-sm-1"><a href="http://instagram.com/weissguy23"><img src="/images/instagram.png" alt="Loading" title="instagram" class="img-fluid imgbox-tiny"></a></div>
            <div class="col-sm-1"><a href="http://linkedin.com/in/spencerrweiss"><img src="/images/linkedin.png" alt="Loading" title="linkedin" class="img-fluid imgbox-tiny"></a></div>
            <div class="col-sm-1"><a href="http://github.com/spweiss"><img src="/images/github.png" alt="Loading" title="github" class="img-fluid imgbox-tiny"></a></div>
          </div>

        </div>
        <div class="col-sm-2 left"></div>
      </div>
    </div>
  </body>
</html>
