<!DOCTYPE html>
<html>
  <head>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
    <script>
    $(function() {
       $(window).scroll(function () {
          if ($(this).scrollTop() > $(".page").height() * 0.70) {
             $("b").addClass("changeColor")
          }
          if ($(this).scrollTop() < $(".page").height() * 0.70) {
             $("b").removeClass("changeColor")
          }
       });
    });
    </script>
    <link rel="shortcut icon" href="favicon.ico" type="image/x-icon"/>
    <link rel="shortcut apple-touch-icon" href="favicon.ico" type="image/x-icon"/>
  </head>
  <body>

    <main class="page">
      <nav>
        <div id="type" class="cursor">> </div>
        <script>setTimeout(typeWriter, 1000);</script>
      </nav>
    </main>
    <b class="page startColor">
      <div class="jumbotron container background-color shadow">
        <h1 class="display-4">Spencer Weiss</h1>
        <p class="lead">My favorite map projection is the Wasserman Butterfly</p>
        <p>Check out some fun statistics here</p>
        <p class="text-center"><a class="btn btn-primary btn-lg" href="render">Learn more</a><p>
      </div>
    </b>
    <p>Hello world</p>
    <b class="page">
      <div class="jumbotron container background-color shadow">
        <h1 class="display-4">Spencer Weiss</h1>
        <p class="lead">My favorite map projection is the Wasserman Butterfly</p>
        <p>Check out some fun statistics here</p>
        <p class="text-center"><a class="btn btn-primary btn-lg" href="render">Learn more</a><p>
      </div>
    </b>

  </body>
</html>
