<!DOCTYPE html>
<html>
  <body>

    <main class = "page">
      <nav>
        <div id= "type" class= "cursor">$ </div>
        <script>setTimeout(typeWriter, 1000);</script>
      </nav>
      <!-- <script>setTimeout(jump, 1000);</script> -->
    </main>
    <b class= "page">
      <div class= "jumbotron container shadow">Hello, world!</div>
    </b>

  </body>
</html>
