<!DOCTYPE html>
<html>
  <body>
    <div class= "typewriter center container">
      <h1>$ Spencer Weiss</h1>
    </div>

    <div id= "type" class= "cursor">$ </div>
    <script>typeWriter();</script>

  </body>
</html>
