<!DOCTYPE html>
<html>
  <body>

    <main class = "page">
      <nav>
        <div id= "type" class= "cursor">$ </div>
        <script>setTimeout(typeWriter, 1000);</script>
      </nav>
      <!-- <script>setTimeout(jump, 1000);</script> -->
    </main>
    <b class= "page">
      <div class= "jumbotron container shadow">
        <h1 class="display-4">Spencer Weiss</h1>
        <p class="lead">I'm a student at Penn</p>
        <!-- <hr class="my-4"> -->
        <p>My favorite map projection is the Wasserman Butterfly</p>
        <!-- <a class="btn btn-primary btn-lg" href="#" role="button">Learn more</a> -->
      </div>
    </b>

  </body>
</html>
