<!DOCTYPE html>
<html>
  <body>

    <main>
      <nav>
        <div id= "type" class= "cursor">$ </div>
        <script>setTimeout(typeWriter, 1000);</script>
      </nav>
    </main>
    <b>
      Hello, World!
    </b>

  </body>
</html>
