<!DOCTYPE html>
<html>
  <head>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
    <script>
    $(function() {
       $(window).scroll(function () {
          if ($(this).scrollTop() > $(".page").height() * 0.70) {
             $("div").addClass("changeColorWhite")
          }
          if ($(this).scrollTop() < $(".page").height() * 0.70) {
             $("div").removeClass("changeColorWhite")
          }
          if ($(this).scrollTop() > $(".page").height() * 1.70) {
             $("div").addClass("changeColorTan")
          }
          if ($(this).scrollTop() < $(".page").height() * 1.70) {
             $("div").removeClass("changeColorTan")
          }
          if ($(this).scrollTop() > $(".page").height() * 2.70) {
             $("div").addClass("changeColorGrey")
          }
          if ($(this).scrollTop() < $(".page").height() * 2.70) {
             $("div").removeClass("changeColorGrey")
          }
       });
    });
    </script>
    <link rel="shortcut icon" href="favicon.ico" type="image/x-icon"/>
    <link rel="shortcut apple-touch-icon" href="favicon.ico" type="image/x-icon"/>
  </head>
  <body>

    <main class="page">
      <nav>
        <p id="type" class="cursor">> </p>
        <script>setTimeout(typeWriter, 1000);</script>
      </nav>
    </main>

    <div class="page startBlack">
      <div class="container-fluid left">
        <div class="row">
          <div class="col-sm-1"></div>
          <div class="col-sm-10 left">
            <div class="row vert-center-md-2">
              <h1>Spencer Weiss</h1>
              <p>Aspiring polymath, avowed nerd, and lover of fun facts</p>
              <br></br><br></br>
              <img src="/images/school.png" alt="Loading" title="school" class="img-fluid imgbox-lg">
              <p>I'm a junior at Penn in the Jerome Fisher Program in
                Management and Technology, getting bachelors degrees from Penn
                Engineering and Wharton.</p>
              <br></br><br></br>
            </div>
            <div class="row">
              <div class="col-sm-1"><a href="http://facebook.com/weissguy23"><img src="/images/facebook.png" alt="Loading" title="facebook" class="img-fluid imgbox-tiny"></a></div>
              <div class="col-sm-1"><a href="http://twitter.com/weissguy23"><img src="/images/twitter.png" alt="Loading" title="twitter" class="img-fluid imgbox-tiny"></a></div>
              <div class="col-sm-1"><a href="http://instagram.com/weissguy23"><img src="/images/instagram.png" alt="Loading" title="instagram" class="img-fluid imgbox-tiny"></a></div>
              <div class="col-sm-1"><a href="http://linkedin.com/in/spencerrweiss"><img src="/images/linkedin.png" alt="Loading" title="linkedin" class="img-fluid imgbox-tiny"></a></div>
              <div class="col-sm-1"><a href="http://github.com/spweiss"><img src="/images/github.png" alt="Loading" title="github" class="img-fluid imgbox-tiny"></a></div>
            </div>
          </div>
          <div class="col-sm-1 vert-center-lg">
            <a href="render"><img src="/images/right-arrow.png" alt="Loading" title="arrow" class="img-fluid imgbox-tight"></a>
          </div>
        </div>
      </div>
    </div>

    <div class="page startWhite">
      <div class="container-fluid left">
        <div class="row">
          <div class="col-sm-1 left"></div>
          <div class="col-sm-6 left">
            <div class="row vert-center-md-1">
              <h1>Quality of Contact</h1>
              <p>Determining Whether xwOBA and Statcast EV/LA Data Can Be Used to
                Determine Plate Performance Better than Plays Called on the Field</p>
            </div>
          </div>
          <div class="col-sm-4 left"></div>
          <div class="col-sm-1 vert-center-lg">
            <a href="render"><img src="/images/right-arrow.png" alt="Loading" title="arrow" class="img-fluid imgbox-tight"></a>
          </div>
        </div>
      </div>
    </div>

    <div class="page startTan">
      <div class="container-fluid left">
        <div class="row">
          <div class="col-sm-1 left"></div>
          <div class="col-sm-6 left">
            <div class="row vert-center-md-1">
              <h1>Cancer Immunotherapy</h1>
              <p>Plac1 Is a Key Regulator of the Inflammatory Response and
                Immune Tolerance In Mammary Tumorigenesis</p>
            </div>
          </div>
          <div class="col-sm-4 left"></div>
          <div class="col-sm-1 vert-center-lg">
            <a href="nature.pdf" download><img src="/images/right-arrow.png" alt="Loading" title="arrow" class="img-fluid imgbox-tight"></a>
          </div>
        </div>
      </div>
    </div>

  </body>
</html>
