<!doctype html>
<html>
<head>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/KaTeX/0.7.1/katex.min.css">
    <script src="https://cdnjs.cloudflare.com/ajax/libs/KaTeX/0.7.1/katex.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/KaTeX/0.7.1/contrib/auto-render.min.js"></script>
    <title> Spencer Weiss | Minesweeper</title>
    <meta name="description" content="Spencer Weiss' personal site. Minesweeper
    game link."<meta>
</head>
  <body class="content">
    <div class="container-fluid left">
      <div class="row">
        <div class="col-sm-2 left"></div>
        <div class="col-sm-8 left">

          <h1>Minesweeper</h1>

          <h2>Play my Emulator of the Windows 95 version of Minesweeper</h2>

          <p><br><br></p>

          <div class="container-fluid center">
            <div class="row imagetiles">
              <div class="col-md-12">
                <img src="/images/minesweeper.gif" alt="Loading" title="Minesweeper" class="img-fluid imgbox">
              </div>
            </div>
            <div class="row">
              <div class="col-md"><p class="caption">Gameplay on the Windows 95
                Minesweeper emulator.</p></div>
            </div>
          </div>

          <p>
          Try it out by using the instructions on GitHub <a href="https://www.github.com/spweiss/minesweeper">here</a>.
          </p>

        </div>
        <div class="col-sm-2 left"></div>
      </div>
    </div>
  </body>
</html>
