@import "bootstrap-sprockets";
@import "bootstrap";

body {
}

main {
  background-color: black;
  align-items: center;
}

nav {
  padding-top: 25%;
  text-align: center;
  font-family: monaco, Consolas, "Lucida Console", monospace;
  color: white;
  position: absolute;
  left: 40%;
  font-size: 2em;
}

.page {
  width: 100vw;
  height: 100vh;
}

.cursor {
  border-right: .15em solid white;
  display: inline-block;
  animation:
    blink-caret 1.00s step-end infinite;
}

@keyframes blink-caret {
  from, to { border-color: transparent }
  50% { border-color: white; }
}
