@import "bootstrap-sprockets";
@import "bootstrap";

body {
  padding-top: 25%;
  background-color: black;
  align-items: center;
}

nav {
  text-align: center;
  font-family: monaco, Consolas, "Lucida Console", monospace;
  color: white;
  position: absolute;
  left: 45%;
  font-size: 90;
}

.cursor {
  border-right: .15em solid white;
  display: inline-block;
  animation:
    blink-caret .75s step-end infinite;
}

@keyframes blink-caret {
  from, to { border-color: transparent }
  50% { border-color: white; }
}
