<!DOCTYPE html>
<html>
  <head>
    <title>Spencer Weiss</title>
    <meta name="description" content="Spencer Weiss' personal site. View
    Spencer's biograhy, projects, and other presences on the internet."<meta>
    <%= csrf_meta_tags %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <%= yield %>
  </body>
</html>
